.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 8px;
    font: 20px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }