:root {
  --color-dark: #242424;
  --color-light: white;
  --accent-color: #646cff;
  --button-background-dark: #1a1a1a;
  --button-background-light: #f9f9f9;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-dark);
  color: var(--color-light);
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1rem;
  background-color: var(--button-background-dark);
  color: var(--accent-color);
}

button:hover {
  border-color: var(--accent-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  z-index: 1000;
}

.nav-links {
  opacity: 100;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button-background-dark);
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.nav-links li {
  list-style: none;
  margin: 0 12px;
}

.nav-links li a {
  position: relative;
  color: var(--color-light);
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
  transition: color 0.4s ease;
}

.nav-links li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: var(--accent-color);
  border-radius: 12px;
  transition: all 0.4s ease;
}

.nav-links li a:hover:before {
  width: 100%;
  opacity: 100%;
}

.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
  opacity: 100%;
}

.nav-links li.upward a:before {
  width: 100%;
  bottom: -5px;
  opacity: 0;
}

.nav-links li.upward a:hover:before {
  bottom: 0px;
  opacity: 100%;
}

.nav-links li a.active {
  color: var(--accent-color); 
  font-weight: bold;
}

.opacity-low {
  transition: opacity 0.5s ease;
  opacity: 75%;
}

.qmind {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  left: 2rem;
  top: 2rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 5rem;
}

.content-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-top: 10rem;
}

.content {
  display: flex;
  flex: 1;
  height: auto;
}

.text {
  flex: 1;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text p {
  margin-bottom: -1rem;
}

.text :first-child {
  margin-bottom: 0;
}

@keyframes headerAnimation {
  0% {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  25% {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: translateY(0);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.3);
  }
  75% {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.image {
  flex: 1;
  border-radius: 20px;
  max-width: 100%;
  margin-left: 2rem;
  z-index: -1;
}

.image img {
  animation: headerAnimation 2s ease-in-out infinite;
}

.text-image {
  flex: 1;
  border-radius: 20px;
  max-width: 100%;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 3rem; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.text h3 {
  margin-bottom: 1rem;
}

.content-double :first-of-type{
  margin-bottom: 1rem; 
}

.content-double {
    display: flex;
    flex: 1;
    height: auto;
    margin-bottom: -2rem; 
}

#training {
  border-radius: 0;
}

.content-double h3 {
  margin-bottom: 0;
}

#mcts {
  filter: invert(100%);
}

#gnn {
  filter: invert(100%);
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
}

.about {
  margin-top: 10rem;
}

#results {
  margin-bottom: 3rem;
}

.icon-background {
  position: fixed; 
  left: 1rem;
  bottom: 1rem;
  background-color: var(--button-background-dark);
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;
  margin: 0px;
}

.authors {
  fill: var(--color-light);
  height: 2rem;
  width: 2rem;
  transition: transform 0.5s ease;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--button-background-dark);
}

.authors:hover {
  fill: var(--accent-color);
}

.popup {
  position: fixed;
  bottom: 6rem;
  left: 1rem;
  background-color: var(--button-background-dark);
  padding-left: 1.8rem; 
  padding-right: 1.8rem; 
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  margin-bottom: 1.5rem; 
}

.popup a {
  display: block;
  margin: 0.5rem 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--color-light);
  opacity: 0.8;
}

.popup a:hover {
  color: var(--accent-color);
}

.popup.visible {
  max-height: 30rem;
}

.popup.hidden {
  max-height: 0;
}

.icon-background {
  transition: transform 0.5s ease;
}

.authors.rotate {
  transform: rotate(360deg);
}

.btn {
  position: relative;
  top: 3vh; 
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--button-background-dark);
}

.btn-more {
  font-size: 3rem;
  margin-top: 3rem;
  font-size: 1.5em; 
  width: 15rem;
  transition: background 0.3s ease-out;
}

.btn:hover {
  border-color: var(--accent-color); 
}

.btn-more:hover > i {
  transform: translateX(0.75rem);
}

.btn-more > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-light);
  border-radius: 12px; 
  opacity: 50%;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

iframe {
  margin-top: 2rem;
  width: 100%;
  height: 38rem;
  outline: none;
  filter: grayscale(100%) invert(100%);
}

@media (prefers-color-scheme: light) {

  body {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  button {
    background-color: var(--button-background-light);
  }

  .nav-links {
    background: var(--button-background-light);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links li a {
    color: var(--color-dark);
  }

  .nav-links li a:hover:before {
    background: var(--accent-color);
  }

  .qmind img {
    filter: invert(1);
  }

  .icon-background {
    background-color: var(--button-background-light);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .popup {
    background-color: var(--button-background-light);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  #mcts {
    filter: none;
  } 

  #gnn {
    filter: none;
  }

  .authors {
    fill: var(--color-dark);
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: var(--button-background-light);
  }

  .popup a {
    color: var(--color-dark);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-dark);
  }
  
  ::-webkit-scrollbar-track {
  background-color: var(--color-light);
  }

  .btn {
    background-color: var(--button-background-light);
  }

  iframe {
    filter: none;
  }
}